.wrapper{
    display:flex;
    flex-direction: column;
}

.inner_content {
    margin: 0 auto;
}

hr {
    border-color: coral;
}

h1 {
    text-align: center;
}

img {
    width: 400px;
}

p {
    width:400px;
    margin-top: 20px;
}